<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - URLshrtnr</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/icons")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="body-content">
        <header id="header" class="w-100">
            <div class="navbar navbar-expand navbar-dark bg-transparent w-100 p-0">
                <a class="navbar-brand mr-auto" href="/"><i class="lni lni-link"></i> shrtnr</a>
                @Html.Partial("_LoginPartial")
            </div>
        </header>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer id="footer" class="row">
            <div class="col-md-7">
                <p class="text-white-50">URLshrtnr &copy; @DateTime.Now.Year - Powered by <a href="https://berkaydavas.com" target="_blank" class="text-white">Berkay Davas</a></p>
            </div>
            <div class="col-md-5">
                <ul>
                    <li><a class="ajax-button" href="@Url.Action("MemberAdvantages", "Home")">Üyelik Avantajları</a></li>
                    <li><a target="_blank" href="https://berkaydavas.com/Iletisim">İletişim</a></li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
