@using UrlShortener.Models
@model LoginViewModel
@{
    ViewBag.Title = "Oturum aç";
}

@section Styles {
    <link href="~/Content/assets/css/login.css" rel="stylesheet" />
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2>@ViewBag.Title.</h2>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="inputs">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email), type = "email", required = "required", autofocus = "autofocus" })

        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password), required = "required" })
    </div>

    <div class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </div>

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Oturum aç</button>

    <small class="mt-2">
        @Html.ActionLink("Parolanızı mı unuttunuz?", "ForgotPassword")
    </small>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}