@model UrlShortener.Models.RegisterViewModel
@{
    ViewBag.Title = "Kaydol";
}

@section Styles {
    <link href="~/Content/assets/css/login.css" rel="stylesheet" />
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2>@ViewBag.Title.</h2>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="inputs">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email), type = "email", required = "required", autofocus = "autofocus" })

        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password), required = "required" })

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), required = "required" })
    </div>

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Kaydol</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
