@model UrlShortener.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Parolayı sıfırla";
}

@section Styles {
    <link href="~/Content/assets/css/login.css" rel="stylesheet" />
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)

    <h2>@ViewBag.Title.</h2>
    <hr />

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="inputs">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = Html.DisplayNameFor(m => m.Email), required = "required", autofocus = "autofocus" })

        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password), required = "required", autofocus = "autofocus" })

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), required = "required", autofocus = "autofocus" })
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sıfırla</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
