@model UrlShortener.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Parola Değiştir";
}

@section Styles {
    <link href="~/Content/assets/css/login.css" rel="stylesheet" />
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2>@ViewBag.Title</h2>
    <hr />

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="inputs">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.OldPassword), required = "required", autofocus = "autofocus" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.NewPassword), required = "required" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), required = "required" })
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Gönder</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}