@model UrlShortener.Models.IndexViewModel
@{
    ViewBag.Title = "Hesabım";
}

<h2>@ViewBag.Title.</h2>

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
    <div id="notification-banner" class="info">
        <div class="content">
            <div class="icon text-info">
                <i class="lni lni-invention"></i>
            </div>
            <div class="message text-info">
                @ViewBag.StatusMessage
            </div>
            <div class="button">
                <button class="btn btn-link text-info">Tamam</button>
            </div>
        </div>
    </div>
}

@if (string.IsNullOrEmpty(ViewBag.StatusMessage) && !Model.IsEmailConfirmed)
{
    <div id="notification-banner" class="info">
        <div class="content">
            <div class="icon text-info">
                <i class="lni lni-invention"></i>
            </div>
            <div class="message text-info">
                Mail adresiniz doğrulanmamış. Hesap şifrenizi unutmanız durumunda mail alamayacaksınız. Lütfen mail adresinizi doğrulayın.
            </div>
            <div class="button">
                <button class="btn btn-link text-danger">İptal</button>
                <a href="@Url.Action("ConfirmEmail", "Manage")" class="btn btn-link text-success action">Gönder</a>
            </div>
        </div>
    </div>
}

<div>
    <dl class="dl-horizontal">
        <dt>Parola:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Parolanızı değiştirin", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Oluştur", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
