@model UrlShortener.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Anasayfa";

    string UrlPrefix = Request["HTTP_HOST"] + "/r/";

    bool IsMessage = !string.IsNullOrEmpty(ViewBag.StatusMessage);

    string Message = "";
    string MessageClass = "";

    if (IsMessage)
    {
        string[] Statuses = ((string)ViewBag.StatusMessage).Split(',');
        Message = Statuses[0];
        MessageClass = Statuses[1];
    }
}

@if (IsMessage)
{
    <div id="notification-banner" class="@MessageClass">
        <div class="content">
            <div class="icon text-@MessageClass">
                @switch (MessageClass)
                {
                    case "success":
                        <i class="lni lni-checkmark"></i>
                        break;
                    case "danger":
                        <i class="lni lni-close"></i>
                        break;
                }
            </div>
            <div class="message text-@MessageClass">
                @Message
            </div>
            <div class="button">
                <button class="btn btn-link text-@MessageClass">Tamam</button>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "url-short-form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger form-returns" })

    <div class="url-input-group">
        @Html.TextBoxFor(x => x.LongUrl, new { type = "url", placeholder = "Kısaltmak için URL giriniz.", required = "required", autofocus = "autofocus", autocomplete = "off" })
        <i class="url-icon lni lni-link"></i>
        <button type="submit" class="btn btn-sm btn-primary">Kısalt</button>
    </div>
}

@if (User.Identity.IsAuthenticated)
{
    if (Model.Urls.Count > 0)
    {
        <div id="url-info">
            <p>URL: <span>@Model.Urls.Count</span> || Toplam Tıklanma: <span>@Model.Urls.Sum(x => x.Click)</span></p>
            <button id="delete-all-button" class="btn btn-link text-danger">Tümünü Sil</button>
        </div>

        <div id="urls-wrap" class="position-relative">
            <table class="table table-bordered table-responsive-sm m-0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Kısa Link</th>
                        <th scope="col" width="180">Link</th>
                        <th scope="col" width="60">Durum</th>
                        <th scope="col" width="90">Tarih</th>
                        <th scope="col" width="40">Tık</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ShortedUrl in Model.Urls)
                    {
                        string ShortUrl = "https://" + UrlPrefix + ShortedUrl.Code;

                        <tr>
                            <td>
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <a target="_blank" href="@ShortUrl">@ShortedUrl.Code</a>
                                    <div class="d-flex flex-nowrap">
                                        <button class="btn btn-link text-black-50 p-0 copy-button" data-url-code="@ShortedUrl.Code"><i class="lni lni-clipboard"></i></button>
                                        <button class="btn btn-link text-black-50 p-0 ml-1 edit-button" data-url-code="@ShortedUrl.Code"><i class="lni lni-pencil-alt"></i></button>
                                    </div>
                                </div>
                            </td>
                            <td class="url" width="180">
                                <div class="d-flex align-items-center justify-content-between w-100">
                                    <a target="_blank" href="@ShortedUrl.Url">@ShortedUrl.Url</a>
                                    <button class="btn btn-link text-black-50 p-0 see-button" data-url="@ShortedUrl.Url"><i class="lni lni-eye"></i></button>
                                </div>
                            </td>
                            <td width="60">@(ShortedUrl.IsActive ? "Aktif" : "Pasif")</td>
                            <td width="90" title="@ShortedUrl.Date.ToString("dd MMMM yyyy HH:mm")">@ShortedUrl.Date.ToString("dd.MM.yyyy")</td>
                            <td width="40">@ShortedUrl.Click</td>
                            <td class="actions text-center">
                                @if (ShortedUrl.IsActive)
                                {
                                    <a href="@Url.Action("Passive", "Url", new { id = ShortedUrl.Code })" class="btn btn-link @(ShortedUrl.IsActive ? "" : "d-none")" title="Pasifleştir"><i class="lni lni-pause"></i></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Active", "Url", new { id = ShortedUrl.Code })" class="btn btn-link @(ShortedUrl.IsActive ? "d-none" : "")" title="Aktifleştir"><i class="lni lni-play"></i></a>
                                }
                                <button type="button" class="btn btn-link text-danger delete-button" data-url-code="@ShortedUrl.Code"><i class="lni lni-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    if (Model.Url != null)
    {
        string ShortUrl = "https://" + UrlPrefix + Model.Url.Code;

        <div id="new-url-info" class="mt-3">
            <table class="table table-bordered table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Kısa Link</th>
                        <th scope="col">Link</th>
                        <th scope="col" width="40">Tık</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center justify-content-between w-100">
                                <a target="_blank" href="@ShortUrl">@ShortUrl</a>
                                <div>
                                    <button class="btn btn-link text-black-50 p-0 copy-button" data-url-code="@Model.Url.Code"><i class="lni lni-clipboard"></i></button>
                                </div>
                            </div>
                        </td>
                        <td class="text-break">
                            <a target="_blank" href="@Model.Url.Url">@Model.Url.Url</a>
                        </td>
                        <td width="40">@Model.Url.Click</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}

<input type="text" id="copy-url-input" value="" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        const UrlPrefix = "@Html.Raw(UrlPrefix)";
    </script>
    <script src="~/Content/assets/js/home.js"></script>
}